<!DOCTYPE html>
<html ng-app="LinkedLiving">
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
<script src="/static/js/daily.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/css/trend.css">
  <meta charset="utf-8">
  <title>LinkedLiving</title>
</head>
<body>
  {% verbatim %}
  <div class="page">
    <header class="header" role="navigation">
      <div class="logo">
        <img src="https://raw.githubusercontent.com/kikiliu/Linked/master/LinkedLiving/static/images/cross.png"/>
        <span>LinkedLiving</span>
      </div>
      <ul class="view-tabs">
      	<li class="tab active-tab">Daily Digest</li>
      	<li class="tab">Trends</li>
      </ul>
      <ul class="menu">
        <li><a href="#">Help</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">My account</a></li>
      </ul>
    </header>
    <article class="daily-info" ng-controller="daily-info-controller">>
	    <div id="daily-selector">
	    	<span id="previous-selector" ng-click="goto_previous_day()"></span>
	        <span class="datetime">{{current_date | date:'EEE, MMM d, yyyy'}}</span>
	        <span id="next-selector" ng-click="goto_next_day()"></span>      
	    </div>
	    <section id="all-charts">
	    	<div id="side-note">
				<div id="howto">
					<div class="side-title">
						<img src="/static/images/howto.gif">
						<div class="side-title-text">How can I interpret the data?</div>
					</div>
					<p class="hover-text">Hover the pointer over a graph of your interest.</p>
					<p class="hide">A number of studies find that higher average heart rate during sleep is a cardiovascular risk factor.</p>
				</div>
				<div id="comment">
					<div class="side-title">
						<img src="/static/images/comment.gif">
						<div class="side-title-text">Comments</div>
					</div>
					<ul>
						<li class="comment-record">
							<div class="side-title">
								<img src="http://statici.behindthevoiceactors.com/behindthevoiceactors/_img/chars/char_26725.jpg">
								<div class="side-title-text">
									<span class="comment-name">Meg said</span>
									<span class="comment-date">on 1/13/2015</span>
									<div class="comment-chart">on Average HR during Sleep</div>
								</div>
							</div>
							<p>"Mom, I feel your heart rate during sleep may be improving a bit over time and it may be because you do more exercise recently."</p>
							<div class="comment-button">
								<span class="button">See this data</span>
							</div>
						</li>
					</ul>
					<div class="add-comment">
						<img id="add-icon" src="/static/images/add.gif">
						<div class="side-title">
							<img src="http://statici.behindthevoiceactors.com/behindthevoiceactors/_img/chars/char_26725.jpg">
							<div class="hover-text">Add your comment</div>
						</div>
					</div>
				</div>
			</div>
	    	<div id="main-charts">
		      <div class="timeline-top-bottom"></div>
		      <ul class="repeater">
		        <li ng-repeat="activity in activities">
		          <div class="time-range">
		            <div>{{activity.start_activity_time | date:'HH:mm'}}</div>
		            <div class="from-to" ng-if="activity.period">|</div>
		            <div>{{activity.end_activity_time | date:'HH:mm'}}</div>
		          </div>
		          <div class="activity">
		            <div class="background" style="background-image:url('{{activity.background_image}}')">
		              <div class="figure" style="background-image:url('{{activity.figure_image}}')">
		                <div class="story-line">
		                  <div>{{activity.caption}}</div>
		                  
		                </div>
		                <div class="activity-info"  ng-if="activity.info_display">
		                  <img src="https://raw.githubusercontent.com/kikiliu/Linked/master/LinkedLiving/static/images/heart_mini.png"/>
		                    <div>
		                      Highest: {{activity.max_heart_rate}}</div>
		                    <div>Average: {{activity.avg_heart_rate}}</div>
		                                    <img src="https://raw.githubusercontent.com/kikiliu/Linked/master/LinkedLiving/static/images/mobility_mini.png"/>
		                    <div>{{activity.steps}} steps</div>
		                    <div>Low intensity</div>
		                  
		                </div>
		              </div>
		           </div>
		           <div class="dash-gap">
		           </div>
		          </div>
		          
		        </li>
		
		        <div class="timeline-top-bottom"></div>
		      </ul>
	    	</div>
	    </section>
	</article>
  	<footer></footer>
  </div>
  {% endverbatim %}
</body>
</html>