<!DOCTYPE html>
<html ng-app="LinkedLiving">
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.js"></script>
<script src="http://momentjs.com/downloads/moment.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script type="text/javascript"
	src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
<script src="./static/js/common.js"></script>
<script src="./static/js/daily.js"></script>
<script src="./static/js/datetimepicker.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Cabin'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="./static/css/daily.css">
<link rel="stylesheet" type="text/css" href="./static/css/common.css">
<link rel="stylesheet" type="text/css"
	href="./static/css/datetimepicker.css">
<meta charset="utf-8">
<title>LinkedLiving</title>
</head>
<body>
	<div id="container">
	{% verbatim %}
	<header class="header" role="navigation">
		<div class="logo">
			<img src="./static/images/logo.png" />
		</div>
		<ul class="view-tabs">
			<li class="tab active-tab">Daily Digest</li>
			<li class="tab"><a href="./trend">Trends</a></li>
		</ul>
		<ul class="menu">
			<li><a href="#">Help</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">My account</a></li>
		</ul>
	</header>
	<div class="page">
		<article class="daily-info" ng-controller="daily-info-controller">
			<div id="daily-selector">
				<div>
					<button ng-click="gotoPreviousDay()">◀</button>
					<div class="datetime ng-binding">{{date | date:'EEE, MMM d, yyyy'}}</div>
					<button ng-click="gotoNextDay()">▶</button>
				</div>
				<div class="dropdown">
					<button class="dropdown-toggle" id="dropdown1"
						data-toggle="dropdown" data-target="#" href="#">
						<img src="./static/images/period_w.gif" />Pick another date
					</button>
					<ul class="dropdown-menu" role="menu">
						<datetimepicker data-ng-model="date"
							data-datetimepicker-config="{ dropdownSelector: '#dropdown1', minView: 'day' }" />
					</ul>
				</div>
			</div>

			<section id="daily-digest">
				<div id="digest-columns">
					<ul>
						<li>
							<div class="gauge-header">
								<div class="gauge-icon">
									<img src="./static/images/heart.gif"><br /> <span>Heart</span>
								</div>
								<div class="gauge-title">{{healthInfo.avg_hr_storyline}}</div>
							</div>
							<div class="unit">(beats / minute)</div> 
							<health-gauge date="date" value="healthInfo.avg_hr" color="'#CF4858'" legend="'Average HR of your age group'"
								average="healthInfo.avg_hr_weekly_benchmark"
								target="healthInfo.avg_hr_target"
								target-name="'Average HR of your age group'" />
						</li>
						<li>
							<div class="gauge-header">
								<div class="gauge-icon">
									<img src="./static/images/exercise.gif"><br/><span>Exercise</span>
								</div>
								<div class="gauge-title">{{healthInfo.exercise_time_storyline}}</div>
							</div>
							<div class="unit">(minutes)</div> 
							<health-gauge date="date" value="healthInfo.exercise_time" color="'#16A79D'" legend="'Target'"
								average="healthInfo.exercise_time_weekly_benchmark"
								target="healthInfo.exercise_time_target"
								target-name="'Target'" />
						</li>
						<li>
							<div class="gauge-header">
								<div class="gauge-icon">
									<img src="./static/images/mobility.gif"><br/><span>Mobility</span>
								</div>
								<div class="gauge-title">{{healthInfo.total_steps_storyline}}</div>
							</div>
							<div class="unit">(steps)</div> 
							<health-gauge date="date" value="healthInfo.total_steps" color="'#80628B'" legend="'Target'"
								average="healthInfo.total_steps_weekly_benchmark"
								target="healthInfo.total_steps_target"
								target-name="'Target'" />
						</li>
						<div class="end"></div>
					</ul>
				</div>
			</section>
			<section id="daily-charts">
				<div id="legend">
					<image src="./static/images/sleep.gif" />
					<span>Sleep</span>
					<image src="./static/images/walk.gif" />
					<span>Walk</span>
					<image src="./static/images/run.gif" />
					<span>Run</span>
				</div>
				<div id="main_chart" daily-chart date="date"
					heart-rate-data="heartRateData" activity-data="activityData">
				</div>
				<div id="side-note">
					<div id="personal-note">
						<div class="side-title">
							<img src="./static/images/note.gif">
							<div class="side-title-text">Personal notes</div>
						</div>
						<div class="add-comment">
							<button ng-click="noteBox=true">
								<img id="add-icon" src="./static/images/add.gif">
								<div class="hover-text">Add your comment</div>
							</button>
							<div class="hover-text" id="watermark"
								ng-show="!noteBox&&notes.length==0">Experienced any
								irregular conditions such as sensation, pain, fainting, or
								difficulty breathing during the day?</div>
							<div ng-show="noteBox">
								<input type="text" ng-model="noteContent">
								<button class="cancel" ng-click="cancelNote()">Cancel</button>
								<button class="post" ng-click="submitNewNote()">Post</button>
							</div>
						</div>
						<ul>
							<li class="comment-record" ng-repeat="note in notes">
								<div class="comment-date">{{note.date |
									date:'MM/dd/yyyy'}}</div>
								<div>{{note.content}}</div>
							</li>
						</ul>
					</div>
					<div id="comment">
						<div class="side-title">
							<img src="./static/images/comment.gif">
							<div class="side-title-text">Comments</div>
						</div>
						<div class="add-comment">
							<button ng-click="inputBox=true">
								<img id="add-icon" src="./static/images/add.gif"> <img
									src="./static/images/maggy.png">
								<div class="hover-text">Add your comment</div>
							</button>
							<div ng-show="inputBox">
								<input type="text" ng-model="commentContent">
								<button class="cancel" ng-click="cancelComment()">Cancel</button>
								<button class="post" ng-click="submitNewComment()">Post</button>
							</div>
						</div>
						<ul>
							<li class="comment-record" ng-repeat="comment in comments">
								<div class="side-title">
									<img src='/static/images/{{comment.profile}}'>
									<div class="side-title-text">
										<div class="comment-name">{{comment.user}} said</div>
										<div class="comment-date">on {{comment.date |
											date:'MM/dd/yyyy'}}</div>
									</div>
									<div class="end"></div>
								</div>
								<div>{{comment.content}}</div>
							</li>
						</ul>
					</div>
				</div>
				<div id="main-charts">
					<ul class="repeater">
						<!-- 						<li class="timeline-top"></li> -->
						<li
							ng-repeat="activity in activityData | orderBy:'start_activity_time==null ? 0 : start_activity_time'">
							<div class="time-range">
								<div ng-show="activity.start_activity_time!=null">{{activity.start_activity_time*1000
									| date:'h:mm a'}}</div>
								<div class="from-to" ng-show="activity.start_activity_time!=null&&activity.end_activity_time!=null">|</div>
								<div ng-show="activity.end_activity_time!=null">{{activity.end_activity_time*1000
									| date:'h:mm a'}}</div>
							</div>
							<div class="activity">
								<div class="background"
									style="background-image: url('{{activity.background}}')">
									<div class="figure"
										style="background-image: url('{{activity.figure}}')">
										<div class="story-line" ng-show="activity.end_activity_time!=null">
											<div>{{activity.story_line}}</div>
										</div>
										<div class="story-line" ng-show="activity.end_activity_time==null">Maggie went to bed.</div>
										<div class="activity-info">
											<div ng-if="activity.max_hr>0 || activity.avg_hr>0">
												<img src="./static/images/heart_mini.png" />
												<div ng-if="activity.max_hr>0">Highest:
													{{activity.max_hr}}</div>
												<div ng-if="activity.avg_hr>0">Average:
													{{activity.avg_hr}}</div>
											</div>
											<div ng-if="activity.steps>0">
												<img src="./static/images/mobility_mini.png" />
												<div>{{activity.steps}} steps</div>
												<div ng-if="activity.intensity==0">Low intensity</div>
											</div>
										</div>
									</div>
								</div>
								<div class="dash-gap"></div>
							</div>

						</li>
						<!-- 						<li class="timeline-bottom"></li> -->
					</ul>
				</div>
			</section>
		</article>
		<footer></footer>
	</div>
	{% endverbatim %}
</div>
</body>
</html>