<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Maggy's Lifelog</title>
<!-- to be called -->
<meta name="author" content="Kiki Liu" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="none" />
<meta property="og:description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/home.css" />
</head>
<body>
	<div class="page_wrapper">
		<div class="page-header">
			<h1>LinkedLiving</h1>
		</div>
		<!-- end of banner and menu -->
		<div class="user_info">
			<img class="portrait"
				src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/TJ27RG/ca/9f/33/ca9f33e962164c01b18aba44135c8665/images/home/u201.png?token=5418919a31189029f4ad9e4b0ca55870" />
			<div>Maggy</div>
			<div class="relatives">
				<img class="portrait"
					src="http://d2v8ggac1o0f6z.cloudfront.net/gsc/TJ27RG/ca/9f/33/ca9f33e962164c01b18aba44135c8665/images/home/u205.jpg?token=bbf59c060bbdc7e602d4a38e1f3019c6" />
				Sarah <img class="link_icon"
					src="http://d2v8ggac1o0f6z.cloudfront.net/gsc/TJ27RG/ca/9f/33/ca9f33e962164c01b18aba44135c8665/images/home/u209.jpg?token=e83a5d6b34b52c499823a4b5b85a47ee" />
			</div>
			<div class="relatives">
				<img class="portrait"
					src="http://dxlfb468n8ekd.cloudfront.net/gsc/TJ27RG/ca/9f/33/ca9f33e962164c01b18aba44135c8665/images/home/u211.jpg?token=855056df1d6cab92e398508243f710a6" />
				George <img class="link_icon"
					src="http://d2v8ggac1o0f6z.cloudfront.net/gsc/TJ27RG/ca/9f/33/ca9f33e962164c01b18aba44135c8665/images/home/u209.jpg?token=e83a5d6b34b52c499823a4b5b85a47ee" />
			</div>
		</div>
		<!-- end of left of dashboard -->
		<div class="summary-container">
			<div class="range-selector">
				<ul>
					<li>Daily</li>
					<li>Weekly</li>
					<li>Monthly</li>
					<li>Annualy</li>
				</ul>
			</div>
			<div style="position:relative; margin: 20px 20px">
				<div class="previous-selector glyphicon glyphicon-chevron-left"></div>
				<div>
					<div style="text-align:center">Today / Monday, December 8, 2014</div>
					<div style="text-align:center">Last updated - 12:02 PST</div>
				</div>
				<div class="next-selector glyphicon glyphicon-chevron-right"></div>
			</div>
			<ul class="metric_list">
				<li>
					<div>
						<img class="link_icon" src="http://d2v8ggac1o0f6z.cloudfront.net/gsc/TJ27RG/ca/9f/33/ca9f33e962164c01b18aba44135c8665/images/home/u183.jpg?token=ceb6d9f190d4095dbd6b610e7afa5002" />Heart Rate
					</div>
					<div>Highest: 105</div>
					<div>Average at rest: 68</div>
					<div>
						<img class="link_icon" src="http://d26uhratvi024l.cloudfront.net/gsc/TJ27RG/ca/9f/33/ca9f33e962164c01b18aba44135c8665/images/home/u173.png?token=78225282f8cbd03064a0b64704ec0ab2" /> Within target range
					</div>
				</li>
				<li>
					<div>
						<img class="link_icon" src="http://d2v8ggac1o0f6z.cloudfront.net/gsc/TJ27RG/ca/9f/33/ca9f33e962164c01b18aba44135c8665/images/home/u183.jpg?token=ceb6d9f190d4095dbd6b610e7afa5002" />
						Total Steps / <br/> Distance
					</div>
					<div>1503 steps</div>
					<div>Average at rest: 68</div>
					<div>
						<img class="link_icon" src="http://d26uhratvi024l.cloudfront.net/gsc/TJ27RG/ca/9f/33/ca9f33e962164c01b18aba44135c8665/images/home/u173.png?token=78225282f8cbd03064a0b64704ec0ab2" /> Within target range
					</div>
				</li>
				<li>
					<div>
						<img class="link_icon" src="http://d2v8ggac1o0f6z.cloudfront.net/gsc/TJ27RG/ca/9f/33/ca9f33e962164c01b18aba44135c8665/images/home/u183.jpg?token=ceb6d9f190d4095dbd6b610e7afa5002" />
						Total Steps / <br/> Distance
					</div>
					<div>1503 steps</div>
					<div>Average at rest: 68</div>
					<div>
						<img class="link_icon" src="http://d26uhratvi024l.cloudfront.net/gsc/TJ27RG/ca/9f/33/ca9f33e962164c01b18aba44135c8665/images/home/u173.png?token=78225282f8cbd03064a0b64704ec0ab2" /> Within target range
					</div>
				</li>
			</ul>
			<div style="clear:both"></div>
		</div>
	</div>
</body>
</html>