<!DOCTYPE html>
<html ng-app="LinkedLiving">
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
<script src="/static/js/trend.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/css/trend.css">
  <meta charset="utf-8">
  <title>LinkedLiving</title>
</head>
<body>
  {% verbatim %}
  <div class="page">
    <header class="header" role="navigation">
      <div class="logo">
        <img src="https://raw.githubusercontent.com/kikiliu/Linked/master/LinkedLiving/static/images/cross.png"/>
        <span>LinkedLiving</span>
      </div>
      <ul class="view-tabs">
      	<li class="tab">Daily Digest</li>
      	<li class="tab active-tab">Trends</li>
      </ul>
      <ul class="menu">
        <li><a href="#">Help</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">My account</a></li>
      </ul>
    </header>
    <article class="trend-data" ng-controller="trend-data-controller">
	    <section>
	    <div id="columns">
	    	<ul>
	    		<li class="selector" id="heart-rate">
	    			<img src="/static/images/heart.gif">
	    			<span class="selector-title">Heart Rate (HR)</span>
	    			<ul>
	    				<li ng-repeat="definition in hrdefinitions track by $index">
	    					<input type="checkbox" class="button" ng-model="definition.toggle" ng-change="toggleChart(definition)" />
	    					{{definition.label}}
	    				</li>
	    				<li><span class="button">Time with HR above 100</span></li>
	    				<li><span class="batch-selector">Select all / Deselect all</span></li>
	    			</ul>
	    		</li>
	    		<li class="selector" id="activity">
	    			<img src="/static/images/run.gif">
	    			<span class="selector-title">Activities</span>
	    			<ul>
	    				<li ng-repeat="definition in activitiesdefinitions track by $index">
	    					<input type="checkbox" class="button" ng-model="definition.toggle" ng-change="toggleChart(definition)" />
	    					{{definition.label}}
	    				</li>
	    				<li><span class="button">Minutes of intense exercise</span></li>
	    				<li><span class="batch-selector">Select all / Deselect all</span></li>
	    			</ul>
	    		</li>
	    		<li class="selector" id="mobility">
	    			<img src="/static/images/mobility.gif">
	    			<span class="selector-title">Mobility</span>
	    			<ul>
	    				<li ng-repeat="definition in mobilitydefinitions track by $index">
	    					<input type="checkbox" class="button" ng-model="definition.toggle" ng-change="toggleChart(definition)" />
	    					{{definition.label}}
	    				</li>
	    				<li><span class="button">Number of steps</span></li>
	    			</ul>
	    		</li>
	    	</ul>
	    	</div>
	    	<div id="time">
	    		<div class="selector-title">
	    		   <img src="https://raw.githubusercontent.com/kikiliu/Linked/master/LinkedLiving/images/icons/period.gif">
	    			<span>Date Range</span>
	    		</div>
	    		<ul>
	    			<li><input type="radio" class="button" value="all" ng-model="dateRange" ng-click="showDays(null)" />All</li>
	    			<li><input type="radio" class="button" value="last7days" ng-model="dateRange" ng-click="showDays(7)" />Last 7 days</li>
	    			<li><input type="radio" class="button" value="last30days" ng-model="dateRange" ng-click="showDays(30)" />Last 30 days</li>
	    			<li><input type="radio" class="button" value="last90days" ng-model="dateRange" ng-click="showDays(90)" />Last 90 days</li>
	   				<li id="customize">
	   					<input type="radio" class="button" value="customize" ng-model="dateRange" />Customize
	   					<span id="date-selector" ng-show="dateRange=='customize'">
	   					From <input type="date" ng-model="startDate" ng-change="showCustomizedDateRange()"> 
	   					To <input type="date" ng-model="endDate" ng-change="showCustomizedDateRange()"></span>
	   			
	   				</li>
    			</ul>		
	    	</div>
	    	<div class="arrow {{status}}">
	    		<span id="collapse">▲</span>
	    		<span id="expand">▼</span>
	    	</div>
	    </section>
	    <section id="all-charts">
	    	<div id="side-note">
				<div id="howto">
					<div class="side-title">
						<img src="/static/images/howto.gif">
						<div class="side-title-text">How can I interpret the data?</div>
					</div>
					<p class="hover-text">Hover the pointer over a graph of your interest.</p>
					<p class="hide">A number of studies find that higher average heart rate during sleep is a cardiovascular risk factor.</p>
				</div>
				<div id="comment">
					<div class="side-title">
						<img src="/static/images/comment.gif">
						<div class="side-title-text">Comments</div>
					</div>
					<ul>
						<li class="comment-record">
							<div class="side-title">
								<img src="http://statici.behindthevoiceactors.com/behindthevoiceactors/_img/chars/char_26725.jpg">
								<div class="side-title-text">
									<span class="comment-name">Meg said</span>
									<span class="comment-date">on 1/13/2015</span>
									<div class="comment-chart">on Average HR during Sleep</div>
								</div>
							</div>
							<p>"Mom, I feel your heart rate during sleep may be improving a bit over time and it may be because you do more exercise recently."</p>
							<div class="comment-button">
								<span class="button">See this data</span>
							</div>
						</li>
					</ul>
					<div class="add-comment">
						<img id="add-icon" src="/static/images/add.gif">
						<div class="side-title">
							<img src="http://statici.behindthevoiceactors.com/behindthevoiceactors/_img/chars/char_26725.jpg">
							<div class="hover-text">Add your comment</div>
						</div>
					</div>
				</div>
			</div>
	    	<div id="main-charts">
		    	<ul>
		    	<!--  
		    		<li id="avg_hr_sleep_chart">
		    			<div class="chart-title">
		    				<img src="/static/images/heart.gif">
		    				<span>Average Heart Rate during Sleep</span>
		    				<span class="chart-unit">(beats per minute)</span>
		    				<span class="chart-cancel"><img src="/static/images/cancel.gif"></span>
		    			</div>
		    			<div id="avg_hr_sleep"></div>
		    		</li>
		    		<li id="percent_of_time_above_high_chart">		    			
		    			<div class="chart-title">
		    				<img src="/static/images/heart.gif">
		    				<span>Time with Heart Rate above 180 bpm</span>
		    				<span class="chart-unit">(percentage of the day)</span>
		    				<span class="chart-cancel"><img src="/static/images/cancel.gif"></span>
		    			</div> 
		    			<div id="percent_of_time_above_high"></div>
		    		</li>
		    		<li id="percent_of_time_above_low_chart">
		    			<div class="chart-title">
		    				<img src="/static/images/heart.gif">
		    				<span>Time with Heart Rate above 100 bpm</span>
		    				<span class="chart-unit">(percentage of the day)</span>
		    				<span class="chart-cancel"><img src="/static/images/cancel.gif"></span>
		    			</div> 
		    			<div  id="percent_of_time_above_low"></div>
		    		</li>
		    		<li id="avg_hr_rest_chart">
		    			<div class="chart-title">
		    				<img src="/static/images/heart.gif">
		    				<span>Average Heart Rate at Rest</span>
		    				<span class="chart-unit">(beats per minute)</span>
		    				<span class="chart-cancel"><img src="/static/images/cancel.gif"></span>
		    			</div>
		    			<div id="avg_hr_rest"></div>		    		
		    		</li>
		    		<li id="max_hr_chart">
		    			<div class="chart-title">
		    				<img src="/static/images/heart.gif">
		    				<span>Daily Maximum Heart Rate</span>
		    				<span class="chart-unit">(beats per minute)</span>
		    				<span class="chart-cancel"><img src="/static/images/cancel.gif"></span>
		    			</div>
		    			<div id="max_hr"></div>		    		
		    		</li>
		    		<li id="exercise_duration_minutes_chart">
		    			<div class="chart-title">
		    				<img src="/static/images/run.gif">
		    				<span>Exercise Time</span>
		    				<span class="chart-unit">(minutes)</span>
		    				<span class="chart-cancel"><img src="/static/images/cancel.gif"></span>
		    			</div>
		    			<div id="exercise_duration_minutes"></div>	
		    		</li>
		    		<li id="sleep_duration_hours_chart">
		    			<div class="chart-title">
		    				<img src="/static/images/run.gif">
		    				<span>Sleep Time</span>
		    				<span class="chart-unit">(hours)</span>
		    				<span class="chart-cancel"><img src="/static/images/cancel.gif"></span>
		    			</div>
		    			<div id="sleep_duration_hours"></div>			    		
		    		</li>
		    		<li id="intense_exercise_duration_minutes_chart">
		    			<div class="chart-title">
		    				<img src="/static/images/run.gif">
		    				<span>Intense Exercise Time</span>
		    				<span class="chart-unit">(minutes)</span>
		    				<span class="chart-cancel"><img src="/static/images/cancel.gif"></span>
		    			</div>
		    			<div id="intense_exercise_duration_minutes"></div>			    		
		    		</li>
		    		<li id="total_steps_chart">
		    			<div class="chart-title">
		    				<img src="/static/images/mobility.gif">
		    				<span>Total Steps</span>
		    				<span class="chart-unit">(counts)</span>
		    				<span class="chart-cancel"><img src="/static/images/cancel.gif"></span>
		    			</div>
		    			<div id="total_steps"></div>			    		
		    		</li>
		    		-->
		    	</ul>
	    	</div>

	    </section>
	</article>
  	<footer></footer>
  </div>
  {% endverbatim %}
</body>
</html>