body{
  font-family:'Cabin';
  color:#432F21;
  font-size:18px;
  text-align:center;/*For IE6 Shenanigans*/
}

.page {
  width: 980px;
  background-color: #432F21;
  margin:0 auto;
  text-align:left;
}

.header{
  background-color: #D6D3C4;
  /*border-bottom:solid 3px #f2a5cd;*/
  overflow:hidden;/*content out of container*/
  position:relative;
  height: 80px;
}

.logo{
  font-size:28px;
  margin:22px;
  float:left
}

.logo > *{
    vertical-align: middle;
}/*apply to immediate children*/

ul{
   list-style-type: none;
   margin:0px;
  padding:0px;
}

li{
  display:block;  
}
.view-tabs
{
	display:table;
	height:100%;
	margin-left: 300px;
}
.tab{
	font-size:18px;
	display: table-cell;
	vertical-align: middle;
	padding:20px;
}
.active-tab {
	background-color:#432F21;
	color:#D6D3C4;
}

.menu{
  font-size: 18px;
  position:absolute;
  right:0;
  top:50%;
  margin-top:-12px;/*font-size*50%*/
}

.menu >li {
  /*border-left:solid 2px #4D4D4D;*/
  padding:0px 30px;
  display:inline;
}

.menu >li a{
	color:#432F21;
}

/*.menu li:first-child{
  border-left:none;
}*/

article{
	padding:20px 20px 20px 20px;	
}

section{
	background-color:#FFFFFF;
}

/* comments
*/
#all-charts{
	padding:35px 0px 60px 40px;
	margin-top:20px;
	overflow:auto;/*parent stretch to contain float child*/
}

#side-note{
	border-left: 1px solid #CDCAB9;
	padding:0px 40px;
	float:right;
	text-align:left;
	width:313px;
}

.side-title img{
	float:left;
	display:block;/*important for float and "not block" the whole line*/
}

.side-title-text{
	padding-left:60px;
	margin-bottom:30px;
}

#howto{
	height:265px;
}

.hover-text{
	color:#CDCAB9;
}
.comment-record{
	clear:both;
}

.comment-record img{
	height:55px;
	width:55px;
	border-radius:27px;
}
.comment-date, .comment-chart{
	font-size:14px;
}

.comment-button {
	text-align:right;
	margin-top:30px;
}

#comment .button{
	border-color:rgba(67,48,33,0.3);
	background-color:#D6D3C4;
}

.add-comment{
	margin-top:35px;
	
}
.add-comment img{
	height: 40px;
	width:40px;
	border-radius:20px;
}

#add-icon{
	height:30px;
	width:35px;
	float:left;
	padding-top:5px;
	padding-right:10px;
}

.add-comment .hover-text{
	padding-left:80px;
}