body{
  font-family:'Cabin';
  color:#432F21;
  font-size:18px;
  text-align:center;/*For IE6 Shenanigans*/
}

.page {
  width: 980px;
  background-color: #432F21;
  margin:0 auto;
  text-align:left;
}

.header{
  background-color: #D6D3C4;
  /*border-bottom:solid 3px #f2a5cd;*/
  overflow:hidden;/*content out of container*/
  position:relative;
  height: 80px;
}

.logo{
  margin:17px 22px;
  float:left;
}

.logo > *{
    vertical-align: middle;
    width:300px;
}/*apply to immediate children*/

ul{
   list-style-type: none;
   margin:0px;
  padding:0px;
}

li{
  display:block;  
}
.view-tabs
{
	display:table;
	height:100%;
	margin-left: 300px;
}
.tab{
	font-size:18px;
	display: table-cell;
	vertical-align: middle;
	padding:20px;
}
.active-tab {
	background-color:#432F21;
	color:#D6D3C4;
}

.menu{
  font-size: 18px;
  position:absolute;
  right:0;
  top:50%;
  margin-top:-12px;/*font-size*50%*/
}

.menu >li {
  /*border-left:solid 2px #4D4D4D;*/
  padding:0px 30px;
  display:inline;
}

.header li a{
	color:#432F21;
	text-decoration:none;
}

/*.menu li:first-child{
  border-left:none;
}*/

article{
	padding:20px 20px 20px 20px;	
}

section{
	background-color:#FFFFFF;
}


.dropdown{
  font-size:14px;
  position:absolute;
  right:0;
  top:5px;
}

.dropdown-menu {
	color:#666666;
}

/* comments
*/
.end{
	clear:both;
}
#side-note input{
	margin:20px 0px;
	height:100px;
	width:220px;
}

#side-note{
	border-left: 1px solid #CDCAB9;
	padding:0px 40px;
	float:right;
	text-align:left;
	width:313px;
}

.side-title img{
	float:left;
	display:block;/*important for float and "not block" the whole line*/
}

.side-title-text{
	padding-left:60px;
	padding-top:5px;
}

.hover-text{
	color:#CDCAB9;
}
.comment-record{
	clear:both;
	margin-top:15px;
}

.comment-record img{
	height:55px;
	width:55px;
	border-radius:27px;
}
.comment-date, .comment-chart{
	font-size:14px;
}

.add-comment >button{
	border:0;
	padding:0;
	background-color: transparent;
	text-align: left;
}

.add-comment{
	margin-top:15px;
}

.add-comment img{
	height: 40px;
	width:40px;
	border-radius:20px;
	float:left;
}

#add-icon{
	height:34px;
	width:35px;
	padding-top:9px;
	padding-right:10px;
}

.add-comment .hover-text{
	padding-left:10px;
	font-size:16px;
	padding-top:10px;
	float:left;
}