#columns{
	overflow:auto;
	margin-bottom:20px;
	padding-top:20px;
}
#heart-rate{
	border-left:none;
}

.selector {
	border-left: 1px solid #CDCAB9;
	padding:0px 40px;
	float:left;
	width:313px;
	height:310px;
	text-align:center;
}

.selector li{
	text-align:left;
}

.selector-title{
	vertical-align:middle;
	font-size:23px;
}

.batch-selector{
	font-size:14px;
	display:block;
	padding-top:6px;
}

.button{
	border: solid 3px rgba(67,48,33,0.3);
  	border-radius: 5px;
	padding: 4px 10px;
  	font-size:18px;
  	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
label{
	font-weight:100;
	text-align: left;
}

.selector label{
	margin-top: 18px;
}
input[type=checkbox] {
    position:absolute;
    top:-20px;
}
#heart-rate .button{
	border-color:#CF4858;
}
#heart-rate label:hover input[type=checkbox]+span{
    background-color:rgba(207,72,88,0.3);
}
#heart-rate input[type=checkbox]:checked+span {
    background-color:rgba(207,72,88,0.3);
}

#activity .button{
	border-color: #16A79D;
}
#activity label:hover input[type=checkbox]+span{
    background-color:rgba(22,167,157,0.3);
}
#activity input[type=checkbox]:checked+span {
    background-color:rgba(22,167,157,0.3);
}
#mobility .button{
	border-color:#80628B;
}
#mobility label:hover input[type=checkbox]+span{
    background-color:rgba(128,98,139,0.3);
}
#mobility input[type=checkbox]:checked+span {
    background-color:rgba(128,98,139,0.3);
}

#time{
	background-color:#D6D3C4;
	height:90px;
}
#time .selector-title{
	margin-left:56px;
	padding-top:20px;
	position:absolute;
	font-size:18px;
}
#time ul{
	display:block;
	text-align:left;
	padding-top:20px;
	padding-left:210px;
}

#time li{
	display:inline;
}

label:hover input[type=radio]+span{
    background-color:rgba(67,48,33,0.3);
}
input[type=radio]:checked+span {
    background-color:rgba(67,48,33,0.3);
}

/*checkbox itself is moved out of top*/
input[type=radio] {
    position:absolute;
    top:-20px;
}

#customize{
	line-height:45px;
}
#date-selector{
	/*left:0;
	top:0;
	position:relative;*/
	text-align:left;
	margin-top:30px;
	margin-left:12px;
	width:350px;
}
#date-selector input{
	height:30px;
	font-size:14px;
}

.arrow{
	background-color:#D6D3C4;
	text-align:center;
}

.arrow button {
	border-width: 0;
	background-color: inherit;
	padding:0px;
}

#arrow-up {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-bottom: 15px solid rgba(67,48,33,0.3);
	margin-bottom:10px;
}
#arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 15px solid rgba(67,48,33,0.3);
	margin-top:20px;
}


#all-charts{
	padding:35px 0px 60px 40px;
	margin-top:20px;
	overflow:auto;/*parent stretch to contain float child*/
}

#main-charts{
	margin-right: 313px;
	text-align:left;
}

#main-charts li{
	margin-bottom:35px;
}

.chart-title img{
	height:24px;
	width:24px;
}

.chart-unit{
	font-size:14px;
}

.chart-cancel{
	float: right;
  	margin-right: 80px;
}

.chart-title button{
	border-width: 0;
	background-color: inherit;
	padding:0px;
}


